.logo-img {
  width: 102px;
  height: 55px;
}

header {
  display: flex;
  padding-left: 40px;
  padding-right: 40px;
  height: 55px
}

.logo-div{
  width: 393px;
  height: 55px;
}

.search-bar{
  padding-left: 24px;
  padding-right: 24px;
  width: 296px;
  height: 46px;
  text-align: center;
  margin-top: 5px;
  border: 0.5px solid black;
  border-radius: 50px;
}

.anywhere-btn {
  width: 108.72px;
  height: 46px;
  border: 0px;
  cursor: pointer; 
  background-color: transparent; 
  border-right: 0.5px solid black;
  text-align: left;
  padding-left: 17px;
}
.anyweek-btn {
  width: 97.75px;
  height: 46px;
  border: 0px;
  cursor: pointer; 
  background-color: transparent; 
  border-right: 0.5px solid black;
}

.guest-btn {
  width: 88px;
  height: 46px;
  border: 0px;
  cursor: pointer; 
  background-color: transparent; 
}


.profile-bar{
  width: 393px;
}

.StaysTypeBar{
  display: grid;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
  width: 1183px;
  height: 78px;
  font-size: 12px;
  column-gap: 32px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  grid-template-columns: 56px 56px 56px 56px 87px 85px 56px 81px 56px 70px 56px;
  span {
    padding-top: 8px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  img{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}



