.popup-search {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 10000;
  // border: 0.677px solid rgb(176, 176, 176);
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
  background-color: white;
  max-width: 850px; // Set maximum width
  width: 100%; // Take up full width of the container
  margin-top: 12px;
}

.not-popup-search {
  // width: 660px;
  // height: 320px;
  right: 0;
  position: absolute;
  top: 50px;
  z-index: 10000;
  display: flex;
  visibility: hidden;
}





.active-search-stay-bar {
  // justify-content: center;
  visibility: visible;
  display: block;

  width: 100%;

  section {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: solid 0.667px rgb(221, 221, 221);
    border-radius: 32px;
    width: 850px;
    // margin-left: 150px;
    // margin-right: 150px;
  }
}

.not-active-search-stay-bar {
  visibility: hidden;
  width: 0px;
  height: 0px;
}

.where-active-btn {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.check-in-acitve-btn {
  width: 142px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.check-out-acitve-btn {
  width: 142px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.guest-active-btn {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 14px;
  padding-bottom: 14px;
  display: flex;

}

.row-line-span {
  background-color: rgb(221, 221, 221);
  margin-top: 20px;
  margin-bottom: 20px;
  width: 1px;
  line-break: strict;
}

.active-btn {
  // display: block;
  cursor: pointer;
  text-align: left;


  span {
    font-size: 12px;
    font-weight: 600;
    padding-bottom: 2px;
    // text-size-adjust: 100%;
  }

  input {
    display: inline-block;
    border: none;
    font-size: 14px;
  }

  .icon-btn-active {
    background-color: rgb(255, 56, 92);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    text-align: center;
    align-items: center;
    padding: 16px;
  }
}