.search-section {
  // padding-left: 24px;
  // padding-right: 24px;
  display: block;
  align-items: center;
}

.search-bar {
  // max-width: 280px;
  margin: 6px auto;
  display: flex;
  align-items: center;
  // justify-content: center;
  // width: 348.53px;
  padding-block: 10px;
  height: 47.33px;
  align-items: left;
  border: 0.667px solid rgb(221, 221, 221);
  border-radius: 40px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px 0px;
  font-size: 14px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;

  span {
    background-color: rgb(221, 221, 221);
    flex-basis: 1px;
    width: 1px;
    height: 24px;
    line-break: strict;
    // box-sizing: border-box;
  }

  .search-btn {
    cursor: pointer;
    background-color: white;
    outline: none;
    align-items: center;
    display: flex;
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 40px;

    color: rgb(34, 34, 34);
    font-weight: 600;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;

  }

  .seperator {
    width: 2px;
    background-color: #ddd;
    height: 80%;
    margin: 0 10px;
  }

  .where-btn {
    padding-left: 15px;
  }

  .when-btn {
    // border-radius: 4px;
    // border-bottom-left-radius: 0px;
    // border-top-left-radius: 0px;
    // border-bottom-right-radius: 0px;
    // border-top-right-radius: 0px;
    // border-top-color: rgb(221, 221, 221);
    // border-left-color: rgb(221, 221, 221);
  }

  .guest-btn {
    justify-content: space-between;
    align-items: center;

    span {
      color: rgb(113, 113, 113);
      width: 73px;
      text-align: left;
      display: block;
      font-weight: 300;
      font-stretch: 100%;
      background-color: white;
      flex-grow: 1;
      padding-block: 4px;
    }

    .search-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      min-width: 32px;
      height: 32px;
      border-radius: 50%;
      background-color: rgb(255, 56, 92);
    }
  }
}











.active-search-stay-bar {
  // justify-content: center;
  visibility: visible;
  display: block;

  width: 100%;

  section {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    border: solid 0.667px rgb(221, 221, 221);
    border-radius: 32px;
    width: 850px;
    // margin-left: 150px;
    // margin-right: 150px;
  }
}

.not-active-search-stay-bar {
  visibility: hidden;
  width: 0px;
  height: 0px;
}

.where-active-btn {
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.check-in-acitve-btn {
  width: 142px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.check-out-acitve-btn {
  width: 142px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 14px;
  padding-bottom: 14px;
}

.guest-active-btn {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 14px;
  padding-bottom: 14px;
  display: flex;

}

.row-line-span {
  background-color: rgb(221, 221, 221);
  margin-top: 20px;
  margin-bottom: 20px;
  width: 1px;
  line-break: strict;
}

.active-btn {
  // display: block;
  cursor: pointer;
  text-align: left;


  span {
    font-size: 12px;
    font-weight: 600;
    padding-bottom: 2px;
    // text-size-adjust: 100%;
  }

  input {
    display: inline-block;
    border: none;
    font-size: 14px;
  }

  .icon-btn-active {
    background-color: rgb(255, 56, 92);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    text-align: center;
    align-items: center;
    padding: 16px;
  }
}