.stay-list{
  margin-top: 16px;
  margin-bottom: 72px;
  margin-left: 40px;
  margin-right: 40px;
  padding-left: 40x;
  padding-right: 40px;
  display: grid;
  width: 1183px;
  column-gap: 32px;
  grid-template-columns: 277.833px 277.833px 277.833px 277.833px;
  grid-template-rows: 263.938px 263.938px 263.938px 263.938px 263.938px;
  div{
    display: inline-block;
    // margin-top: 16px;
    button{
      position: absolute;
      background-color: transparent;
      background-repeat: no-repeat;
      cursor: pointer;
      overflow: hidden;
      outline: none;
    }
    img{
      width: 100%;
      height: 100%;
      border-radius: 10px;
      cursor: pointer;
      margin-bottom: 12px;
    }
    .link-preview{
      width: 100%;
      height: 100%;
    }
  }

  .stay-details-list{
    display: grid;
    column-gap: 8px;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}