ul {
  list-style-type: none;
}

/* Month header */
.month {
  padding: 70px 25px;
  width: 100%;
  // background: #1abc9c;
  background-color: white;
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  // color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  cursor: pointer;
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  cursor: pointer;
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  // background-color: #ddd;
  background-color: white;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  // color: #666;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  // background: #eee;
  background-color: white;
  margin: 0;
}

.days li {
  cursor: pointer;
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size: 12px;
  // color: #777;
  width: 42px;
  height: 40px;
}

/* Highlight the "current" day */
.active-date {
  padding: 5px;
  background: black;
  color: white !important
}




.custom-datepicker {
  border: none;
}

.react-datepicker {
  font-family: Arial, sans-serif;
}

.react-datepicker__day--selected {
  background-color: black;
  color: white;
  border-radius: 50%;
}

.react-datepicker__day {
  width: 37px !important;
  height: 37px !important;
  text-align: center !important;
  /* You can adjust the padding size as per your preference */
}


.date-picker-checkout {
  margin-left: 9px;
  margin-right: 9px;

  h2 {
    padding-bottom: 16px;
  }
}

.date-picker-checkin {
  margin-left: 9px;
  margin-right: 9px;

  h2 {
    padding-bottom: 16px;
  }
}

.picker-dates {
  border: none;
  display: flex;
  // flex-direction: column;
  align-items: center;
  justify-content: center;
}