.logo-img {
  width: 102px;
  color: rgb(255, 56, 92);
}

.logo-div {
  width: 392.91px;
  max-height: 80px;

  a {
    display: flex;
    align-items: center;
    height: 80px;
    width: 102px;
  }
}