.confirm-reserve {
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 64px;
  padding-bottom: 16px;
  display: flex;

  .back-to-stay-link {
    margin-left: -34px;
    margin-top: 10px;
    padding-right: 18px;
    width: 34px;
  }

  h1 {
    font-size: 32px;
    font-weight: 600;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  }
}

.body-reservation-page {
  display: flex;
  padding-left: 80px;
  padding-right: 80px;
}

.body-left-reservation-page {
  margin-bottom: 64px;

  .header-left-reservation {
    margin-bottom: 24px;
    padding: 24px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    display: flex;

    svg {
      margin-left: 24px;
    }
  }
}


.rare-find-reservation-span {
  display: block;
  color: rgb(34, 34, 34);
  margin-bottom: 8px;
  font-size: 16px;
  font-weight: 600;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

.your-trip-reservasion {
  padding-bottom: 24px;
}

.body-right-reservation-page {
  padding: 24px;
  border: solid 0.677px rgb(221, 221, 221);
  margin-left: auto;
  flex-grow: 1;
  margin-left: 90px;
  height: 450px;
  position: sticky;
  top: 32px;
  border-radius: 12px;
}

.dates-body-left-reservation {
  div {
    padding-top: 8px;
  }

  padding-bottom: 24px;
}

.guests-body-left-reservation {
  div {
    padding-top: 8px;
  }

  padding-bottom: 24px;
}

.how-to-pay-body-left-reservation {
  padding-top: 32px;
  padding-bottom: 24px;
}

.option-how-to-pay-reservation {
  padding-bottom: 24px;
}

.pay-in-full-reservation {
  padding: 16px;
  border: 2px solid black;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.pay-in-full-reservation-text {
  display: flex;

  font-size: 16px;
  font-weight: 600;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;

  input {
    height: 22px;
    width: 22px;
    margin-left: auto;
  }
}

.pay-total-reservation-text {
  padding-top: 4px;
  font-size: 16px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

.pay-in-part-reservation {
  padding: 16px;
  border: 2px solid black;
  border-top: none;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.credit-pay-div {
  padding-top: 32px;
  padding-bottom: 24px;
  font-size: 16px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}

.credit-or-debit-card {
  border: 0.677px solid rgb(176, 176, 176);
  padding-left: 16px;
  padding-right: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  align-items: center;
  margin-top: 24px;

  span {
    margin-left: 16px;
    color: rgb(72, 72, 72);
  }

  .svg-arrow-credit-or-debit {
    margin-left: auto;
  }

}

.card-details {
  margin-top: 16px;

  .card-number {
    margin-top: 16px;
  }

  input {
    width: 100%;
    font-size: 16px;
    padding-left: 16px;
    padding-right: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    color: rgb(72, 72, 72);
  }

  .expiration-cvv {
    display: flex;
  }
}

.card-country-region {
  margin-top: 16px;
  border: 0.677px solid rgb(176, 176, 176);
  padding-left: 16px;
  padding-right: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
  display: flex;
  align-items: center;
  margin-top: 24px;

  span {
    display: block;
  }

  .country-region {
    color: rgb(113, 113, 113);
    font-size: 12px;
    font-weight: 400;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  }

  .svg-arrow-region {
    margin-left: auto;
  }
}

.header-div-reservasion {
  padding-bottom: 24px;
  display: flex;

  img {
    width: 124px;
    height: 106px;
    border-radius: 12px;
  }

  .header-div-reservasion-middle {
    padding-left: 12px;

    .first-middle-header-reservasion {
      font-size: 12px;
      color: rgb(113, 113, 113);
      font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    }

    .secound-middle-header-reservasion {
      margin-top: 4px;
      font-size: 14px;
      color: rgb(34, 34, 34);
      font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    }
  }
}

.price-details-reservasion {
  padding-top: 24px;
  padding-bottom: 24px;
}